@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Shadows+Into+Light');

// Fonts
$font-family1: 'Lato', 'Meiryo', 'MS Gothic', 'Arial', 'Helvetica', 'Verdana', 'sans-serif', 'monospace';
$font-family2: 'Shadows Into Light';

// Colors
$white: #FCFCFC;
$black: #171717;

$blue1: #25384D;
$blue2: #304A66;
$blue3: #3B5C80;
$blue4: #466D99;
$blue5: #537FB1;
$blue6: #6B92BD;
$blue7: #83A4C9;

$green1: #2C5337;
$green2: #396B47;
$green3: #458356;
$green4: #509C66;
$green5: #61AF77;
$green6: #79BC8C;
$green7: #91C9A1;

$red1: #391414;
$red2: #541d1d;
$red3: #702626;
$red4: #8b2f2f;
$red5: #a73837;
$red6: #c24242;
$red7: #cb5d5c;

$yellow1: #DEB03A;
$yellow2: #FCD261;
$yellow3: #FAE18B;

$grey1: #939EAF;
$grey2: #B7BFCB;
$grey3: #EEEEEE;
