.todo-container {
  border-top: 1px solid $grey3;
  display: flex;
  position: relative;
  width: 80%;
}

.todo {
  display: flex;
  padding: 1em;
  transition: all 0.4s ease;
  width: 100%;


  &:hover {
    background: $yellow2;
  }

  &-completed {
    .todo-right {
      color: $green3;
      border-color: $green3;
    }
  }
}

.todo-left {
  align-self: center;
}

.todo-right {
  align-self: center;
  border-left: 2px solid $blue4;
  color: $blue2;
  padding-left: 0.7em;
  flex-grow: 1;
  margin-right: 1em;
  position: relative;

  .todo-subtext {
    color: $grey1;
    font-size: 0.83em;
    font-style: italic;
    margin-top: 0.7em;
  }
}

.todo-controls {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  height: 100%;
  transition: all 0.5s;
  background: $red7;
  display: flex;
}

@media only screen and (min-width: 481px) {
  .todo-container {
    width: 85%;
  }
}

@media only screen and (min-width: 1280px) {
  .todo-container {
    width: 100%;
  }
}
